@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap');
*{
  font-family: 'Space Grotesk', sans-serif;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.oswald{
  font-family: 'Oswald', sans-serif;
}

body{
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity)) /* #000000 */;
}

.myborder{
    --tw-border-opacity: 0.2;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    border-width: 1px;
}